body {
    /* height: 100%; */
    text-align: center;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/*********\
* CONTENT *
\*********/

#circle {
    padding: 0;
    margin: 0;
    margin-left: 1em;
    margin-top: 0.5em;
}

#content {
    width:500px;
    height:300px;
    position:absolute;
    left:50%;
    top:35%;
    margin:-150px 0 0 -250px;
}

#content img {
    height: 300px;
    width: 300px;
    border: #fff solid 4px;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    box-shadow: #c0c0c0 0px 0px 4px;
}

#content_name {
    font-size: 32px;
}

#content_description {
    padding-top: 4em;
    font-size: 1.2em;
    color: #fff;
    /* text-shadow: 1px 1px 4px #080808; */
}

#content_description a {
    text-decoration: none;
    color: #eef;
}


/**********\
* METADATA *
\**********/

#metadata {
    display: none;
}


/*******\
* ICONS *
\*******/

.btn {
    position: absolute;
    border:none;
}

#circle .icon{
    font-size: 2em;
    width: 2em;
    height: 2em;
    color:#fff;
    padding: 0.5em;
}

#circle .icon:hover{
    color:#fff;
    text-shadow: #c0c0c0 0px 0px 5px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.fa-blog:hover {
    background-color: #008843;
}

.fa-file-user:hover {
    background-color: #080808;
}

.fa-chalkboard-user:hover {
    background-color: #00acee;
}

.fa-github:hover {
    background-color: #171515;
}

.fa-linkedin:hover {
    background-color: #0e76a8;
}

.fa-youtube:hover {
    background-color: #fe0000;
}

.fa-app-store:hover {
    background-color: #1c97f7;
}

.fa-phone:hover {
    background-color: #00ff54;
}

.fa-envelope:hover {
    background-color: #dd4b39;
}

.fa-pinterest:hover {
    background-color: #bd081c;
}

.fa-stack-overflow:hover {
    background-color: #f69c55;
}

.fa-telegram:hover {
    background-color: #2ca4d8;
}

.fa-instagram:hover {
    background-color: #c13584;
}

.fa-music:hover {
    background-color: #f50;
}

.fa-python:hover {
    background-color: #0073b7;
}

#circle a, #circle a:hover {
    text-decoration: none;
}

.popover-title { display: none; }
.popover-content { padding-top: 1em; white-space: nowrap; }