@font-face {
    font-family: product-sans;
    src: url("../fonts/product-sans/Product Sans Regular.ttf");
}

body {
    height: 100%;
    font-family: product-sans;
    /* overflow: hidden; */
}

.lm-animated-bg {
    background-image: url("../images/background.jpg");
    background-position: calc(50% + -4.74846px) calc(50% + -1.5465px);
    position: fixed;
    width: auto;
    height: auto;
    top: -28px;
    left: -28px;
    right: -28px;
    bottom: -28px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;
}