{% extends 'admin/template.html' %}

{% block dashboard_title %} New Post {% endblock %}

{% block dashboard_content %}
<h2>New Post</h2>
<form method="post" action="/admin/blog/add" enctype="multipart/form-data">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Title" name="title">
        <label for="floatingInput">Title</label>
    </div>
    <textarea id="editor" name="body"></textarea>
    <div class="mt-3">
        <label for="formFile" class="form-label">Image</label>
        <input class="form-control" type="file" id="formFile" name="image">
    </div>
    <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}