{% extends 'template.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card border border-0 shadow p-3 bg-body rounded position-absolute top-50 start-50 translate-middle" style="width: 400px;">
                <div class="card-body">
                    <form method="post" action="/admin/login">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}