<div class="card border border-0 shadow p-3 bg-body rounded">
    <div class="card-body">
        <div class="list-group">
            <a href="/admin/dashboard" class="list-group-item list-group-item-action">
                <i class="fa-brands fa-python fa-fw"></i>
                Dashboard
            </a>
            <a href="/admin/blog" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-blog fa-fw"></i>
                Blog
            </a>
            <a href="/admin/projects" class="list-group-item list-group-item-action">
                <i class="fa-brands fa-python fa-fw"></i>
                Projects
            </a>
            <a href="/admin/logout" class="list-group-item list-group-item-action">
                <i class="fa-duotone fa-arrow-right-from-bracket fa-fw"></i>
                Logout
            </a>
        </div>
    </div>
</div>