<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %} {% endblock %} | Sajjad Aemmi
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta name="google-site-verification" content="JH4ZFJGVhfcn8U4xYfwyisr_OM5BqZTtDd0_08rCCjA" />
    <meta name="author" content="Sajjad Aemmi">
    <meta name="contact" content="sajjadaemmi@gmail.com">
    <meta name="publisher" content="Sajjad Aemmi">
    <meta name="copyright" content="Sajjad Aemmi">
    <meta name="description" content="Sajjad Aemmi, Machine Learning Engineer at ParsTech">
    <meta name="keywords"
        content="Sajjad, Aemmi, MBition, Machine Learning, Engineer, ParsTech, Ferdowsi University, Mashhad, Iran">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="{{ self.title() }} | Sajjad Aemmi"/>
    <meta property="og:url" content="{{ request.base_url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Sajjad Aemmi"/>
    <meta property="og:description" content="Sajjad Aemmi, Machine Learning Engineer at ParsTech"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/avatar.jpg') }}"/>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/avatar.jpg') }}">
    <meta name="theme-color" content="#fb3449">
    <meta name="msapplication-navbutton-color" content="#1d442c">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1d442c">

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/avatar.jpg') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/avatar.jpg') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='images/avatar.ico') }}">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='images/avatar.ico') }}">

    <meta name="DC.Creator" content="Sajjad Aemmi">
    <meta name="DC.Publisher" content="Sajjad Aemmi">
    <meta name="DC.Rights" content="Sajjad Aemmi">
    <meta name="DC.Description" content="Sajjad Aemmi, Machine Learning Engineer at ParsTech">
    <meta name="DC.Language" content="en-us">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <noscript>
        <style>
            .btn {
                position: relative;
            }

            #content {
                top: 200px;
            }
        </style>
    </noscript>
 
</head>

<body>
    <div class="lm-animated-bg"></div>

    {% include "header.html" %}
    
    {% block content %} {% endblock %}

    {% include "footer.html" %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>